/* *,
::after,
::before {
	box-sizing: border-box;
} */
/* a {
	color: #0d6efd;
	text-decoration: underline;
}
a:hover {
	color: #0a58ca;
} */


img {
	vertical-align: middle;
}
table {
	caption-side: bottom;
	border-collapse: collapse;
}
th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}
tbody,
td,
th,
thead,
tr {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}
input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.table {
	--bs-table-bg: transparent;
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: #212529;
	--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
	--bs-table-active-color: #212529;
	--bs-table-active-bg: rgba(0, 0, 0, 0.1);
	--bs-table-hover-color: #212529;
	--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	vertical-align: top;
	border-color: #dee2e6;
}
.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
	vertical-align: inherit;
}
.table > thead {
	vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
	border-bottom-color: currentColor;
}
.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-trash-o:before {
	content: "\f014";
}
.mb-40 {
	margin-bottom: 40px !important;
}
*,
/* *::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} */
a {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}
a,
img,
input,
*:focus {
	outline: none !important;
}
a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #80bb01;
}
.cart-table {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
}
.cart-table .table {
	margin: 0;
}
@media only screen and (max-width: 767px) {
	.cart-table .table {
		border-top: 8px solid #ddd;
	}
}
.cart-table .table thead {
	background-color: #ddd;
}
@media only screen and (max-width: 767px) {
	.cart-table .table thead {
		display: none;
	}
}
.cart-table .table thead tr th {
	text-align: center;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #222222;
	padding: 12px 20px;
}
.cart-table .table tbody tr td {
	text-align: center;
	border: none;
	padding: 25px 20px;
	vertical-align: middle;
	border-bottom: 1px solid #dddddd;
}
@media only screen and (max-width: 767px) {
	.cart-table .table tbody tr td {
		display: block;
		width: 100%;
		max-width: none;
		padding: 15px;
		text-align: left;
	}
}
.cart-table th.pro-thumbnail,
.cart-table td.pro-thumbnail {
	max-width: 160px;
	min-width: 120px;
	width: 160px;
}
@media only screen and (max-width: 767px) {
	.cart-table td.pro-thumbnail a {
		width: 160px;
	}
}
.cart-table th.pro-title,
.cart-table td.pro-title {
	min-width: 200px;
}
.cart-table td.pro-thumbnail a {
	display: block;
}
.cart-table td.pro-thumbnail a img {
	width: 100%;
	background-color: #f6f7f8;
}
.cart-table td.pro-title a {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}
.cart-table td.pro-title a:hover {
	color: #80bb01;
}
.cart-table td.pro-price span {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #666666;
}
.cart-table td.pro-quantity .pro-qty {
	display: inline-block;
	position: relative;
	width: 100px;
	border: 1px solid #ddd;
	height: 40px;
}
.cart-table td.pro-quantity .pro-qty input {
	padding-right: 25px;
	width: 100%;
	border: none;
	height: 100%;
	padding-left: 20px;
}
.cart-table td.pro-quantity .pro-qty a {
	width: 20px;
	height: 20px;
	position: absolute;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
}
.cart-table td.pro-quantity .pro-qty a.inc {
	top: 0;
	right: 0;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.cart-table td.pro-quantity .pro-qty a.dec {
	bottom: 0;
	right: 0;
	border-left: 1px solid #ddd;
	padding-top: 2px;
}
.cart-table td.pro-subtotal span {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #666666;
}
.cart-table td.pro-remove a {
	display: block;
	font-weight: 500;
	color: #666666;
}
.cart-table td.pro-remove a i {
	font-size: 15px;
}
.cart-table td.pro-remove a:hover {
	color: #ff0000;
}
@media only screen and (max-width: 767px) {
	.cart-table td.pro-remove a {
		width: 60px;
		text-align: center;
	}
}

/*! CSS Used from: http://127.0.0.1:5500/assets/css/bootstrap.min.css */
/* *,
::after,
::before {
	box-sizing: border-box;
} */
h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4 {
		font-size: 1.5rem;
	}
}
ul {
	padding-left: 2rem;
}
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
input,
select {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
select {
	text-transform: none;
}
select {
	word-wrap: normal;
}
select:disabled {
	opacity: 1;
}
[type="submit"] {
	-webkit-appearance: button;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}
.col-12 {
	flex: 0 0 auto;
	width: 100%;
}
@media (min-width: 768px) {
	.col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/plugins.css */
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: 40px;
	outline: 0;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}
.nice-select:hover {
	border-color: #dbdbdb;
}
.nice-select:active,
.nice-select:focus {
	border-color: #999;
}
.nice-select:after {
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	content: "";
	display: block;
	height: 5px;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

	width: 5px;
}
.nice-select .list {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
	box-sizing: border-box;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);

	z-index: 9;
}
.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: 0;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
}
.nice-select .option:hover {
	background-color: #f6f6f6;
}
.nice-select .option.selected {
	font-weight: 700;
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/helper.css */
.mb-25 {
	margin-bottom: 25px !important;
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/main.css */
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h4 {
	color: #222222;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	margin-top: 0;
}
h4 {
	font-size: 18px;
	line-height: 24px;
}
input,
*:focus {
	outline: none !important;
}
input[type="submit"] {
	cursor: pointer;
}
ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 20px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.row {
	--bs-gutter-x: 30px;
}
.calculate-shipping {
	margin-bottom: 23px;
}
.calculate-shipping h4 {
	font-size: 20px;
	line-height: 23px;
	text-decoration: underline;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 30px;
}
.calculate-shipping form .nice-select {
	width: 100%;
	border-radius: 50px;
	height: 36px;
	border: 1px solid #999999;
	line-height: 24px;
	padding: 5px 20px;
	background-color: transparent;
}
.calculate-shipping form .nice-select::after {
	border-color: #666666;
}
.calculate-shipping form .nice-select .current {
	display: block;
	line-height: 24px;
	font-size: 14px;
	color: #666666;
}
.calculate-shipping form input {
	width: 100%;
	border-radius: 50px;
	height: 36px;
	border: 1px solid #999999;
	line-height: 24px;
	padding: 5px 20px;
	color: #666666;
	background-color: transparent;
}
.calculate-shipping form input[type="submit"] {
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #80bb01;
	border-color: #80bb01;
	width: 140px;
}
.calculate-shipping form input[type="submit"]:hover {
	background-color: #5d8801;
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/bootstrap.min.css */
*,
::after,
::before {
	box-sizing: border-box;
}
h2,
h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2 {
		font-size: 2rem;
	}
}
h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4 {
		font-size: 1.5rem;
	}
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
button {
	border-radius: 0;
}
button:focus:not(:focus-visible) {
	outline: 0;
}
button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/plugins.css */
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/main.css */
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h2,
h4 {
	color: #222222;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	margin-top: 0;
}
h2 {
	font-size: 30px;
	line-height: 36px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
}
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}
button,
*:focus {
	outline: none !important;
}
button {
	cursor: pointer;
}
.cart-summary {
	float: right;
	max-width: 410px;
	width: 100%;
	margin-left: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.cart-summary {
		margin-left: 0;
	}
}
@media only screen and (max-width: 767px) {
	.cart-summary {
		margin-left: 0;
	}
}
.cart-summary .cart-summary-wrap {
	background-color: #ddd;
	padding: 45px 50px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 575px) {
	.cart-summary .cart-summary-wrap {
		padding: 25px 30px;
	}
}
.cart-summary .cart-summary-wrap h4 {
	font-size: 20px;
	line-height: 23px;
	text-decoration: underline;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 30px;
}
.cart-summary .cart-summary-wrap p {
	font-size: 14px;
	font-weight: 500;
	line-height: 23px;
	color: #222222;
}
.cart-summary .cart-summary-wrap p span {
	float: right;
}
.cart-summary .cart-summary-wrap h2 {
	border-top: 1px solid #999999;
	padding-top: 9px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
	color: #000000;
	margin: 0;
}
.cart-summary .cart-summary-wrap h2 span {
	float: right;
}
.cart-summary .cart-summary-button {
	overflow: hidden;
	width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.cart-summary .cart-summary-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
@media only screen and (max-width: 767px) {
	.cart-summary .cart-summary-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
.cart-summary .cart-summary-button button {
	margin-top: 10px;
	width: 140px;
	border-radius: 50px;
	height: 36px;
	border: 1px solid #999999;
	line-height: 24px;
	padding: 5px 20px;
	color: #666666;
	background-color: transparent;
	margin-left: 20px;
	float: right;
}
.cart-summary .cart-summary-button button:last-child {
	margin-left: 0;
}
.cart-summary .cart-summary-button button:hover {
	background-color: #80bb01;
	border-color: #80bb01;
	color: #ffffff;
}
.cart-summary .cart-summary-button button.checkout-btn {
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #80bb01;
	border-color: #80bb01;
}
.cart-summary .cart-summary-button button.checkout-btn:hover {
	background-color: #5d8801;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.cart-summary .cart-summary-button button {
		margin-left: 0;
		margin-right: 20px;
	}
	.cart-summary .cart-summary-button button:last-child {
		margin-right: 0;
	}
}
@media only screen and (max-width: 767px) {
	.cart-summary .cart-summary-button button {
		margin-left: 0;
		margin-right: 10px;
	}
	.cart-summary .cart-summary-button button:last-child {
		margin-right: 0;
	}
}
@media only screen and (max-width: 575px) {
	.cart-summary .cart-summary-button button {
		width: 130px;
	}
}
