* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
}

*,
::after,
::before {
	box-sizing: border-box;
}
hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: 0.25;
}
hr:not([size]) {
	height: 1px;
}
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3 {
		font-size: 1.75rem;
	}
}
strong {
	font-weight: bolder;
}
a {
	color: #0d6efd;
	text-decoration: underline;
}
a:hover {
	color: #0a58ca;
}
img {
	vertical-align: middle;
}
button {
	border-radius: 0;
}
button:focus:not(:focus-visible) {
	outline: 0;
}
button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button {
	text-transform: none;
}
[type="button"],
button {
	-webkit-appearance: button;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}
.btn-link {
	font-weight: 400;
	color: #0d6efd;
	text-decoration: underline;
}
.btn-link:hover {
	color: #0a58ca;
}
.btn-link:disabled {
	color: #6c757d;
}
/*! CSS Used from: http://localhost/Project%20management/dealofday.css */
@media all {
	[class*=" icon-nasa-"] {
		display: inline-block;
		font-family: "nasa-font";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		direction: ltr !important;
	}
	.icon-nasa-cart-3:before {
		content: "\6e";
	}
	[class*=" pe-7s-"] {
		display: inline-block;
		font-family: "Pe-icon-7-stroke";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.pe-7s-angle-right:before {
		content: "\e684";
	}
}
@media all {
	a {
		background: transparent;
	}
	a:focus {
		outline: thin dotted;
	}
	a:active,
	a:hover {
		outline: 0;
	}
	a:active {
		color: #333;
	}
	strong {
		font-weight: bold;
	}
	hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0;
	}
	img {
		border: 0;
	}
	button {
		font: inherit;
		margin: 0;
	}
	button {
		line-height: normal;
	}
	button {
		text-transform: none;
	}
	button {
		-webkit-appearance: button;
		cursor: pointer;
	}
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	img {
		color: transparent;
	}
	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	a:hover {
		cursor: pointer;
	}
	a:focus {
		outline: none;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	img {
		-ms-interpolation-mode: bicubic;
	}
	.text-left {
		text-align: left !important;
	}
	.text-right {
		text-align: right !important;
	}
	img {
		display: inline-block;
		vertical-align: middle;
	}
	.row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		max-width: 1200px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		content: " ";
		display: table;
	}
	.row:after {
		clear: both;
	}
	.row .row {
		width: auto;
		margin-left: -10px;
		margin-right: -10px;
		margin-top: 0;
		margin-bottom: 0;
		max-width: none;
		*zoom: 1;
	}
	.row .row:before,
	.row .row:after {
		content: " ";
		display: table;
	}
	.row .row:after {
		clear: both;
	}
	.columns {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		float: left;
	}
	div,
	h3 {
		margin: 0;
		padding: 0;
		direction: ltr;
	}
	a {
		color: #333333;
		text-decoration: none;
		line-height: inherit;
	}
	a:hover,
	a:focus {
		color: #f76b6a;
	}
	a img {
		border: none;
	}
	h3 {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0.2em;
		margin-bottom: 0.5em;
		line-height: 1.1931em;
	}
	h3 {
		font-size: 1.31034em;
	}
	hr {
		border: solid #eeeeee;
		border-width: 1px 0 0;
		clear: both;
		height: 0;
	}
	i {
		font-style: italic;
		line-height: inherit;
	}
	strong {
		font-weight: bold;
		line-height: inherit;
	}
	@media only screen and (min-width: 768px) {
		h3 {
			line-height: 1.4;
		}
		h3 {
			font-size: 1.65517em;
		}
	}
	button,
	.button {
		border-width: 1px;
		border-style: solid;
		text-transform: uppercase;
		cursor: pointer;
		font-family: inherit;
		letter-spacing: 2px;
		font-weight: bold;
		line-height: 1;
		margin: 0;
		position: relative;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding: 11px 30px;
		font-size: 12px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.countdown-row {
		text-align: inherit;
		display: block;
		padding: 0;
		position: relative;
		z-index: 12;
		margin: 0 -10px;
	}
	.countdown-section {
		display: inline-block;
		margin: 0 10px 10px 10px;
		position: relative;
		line-height: 1.6;
		text-align: center;
	}
	.countdown-amount {
		display: block;
		background: #f1f1f1;
		color: #000;
		font-size: 110%;
		font-weight: 600;
		line-height: 100%;
		padding: 15px 0;
		width: 40px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.product-item .countdown-amount {
		background: #000;
		color: #fff;
	}
	.nasa-special-deal-item .product-item .countdown-amount {
		background: #f1f1f1;
		color: #000;
	}
	.countdown-period {
		display: block;
		font-size: 80%;
		line-height: 150%;
		text-transform: uppercase;
		padding-top: 7px;
		font-weight: 600;
	}
	.add-to-cart-grid .cart-icon {
		position: relative;
	}
	.nasa-product-grid {
		position: absolute;
		top: 0;
		bottom: 0;
		padding-top: 8px;
		right: 0;
		width: 1px;
	}
	.nasa-product-grid .btn-link {
		display: inline-block;
		margin-top: 10px;
		visibility: hidden;
		opacity: 0;
	}
	.nasa-product-grid .add_to_cart_text {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: auto;
		width: 36px;
		padding-left: 0;
		line-height: 36px;
		text-align: center;
		text-transform: uppercase;
		padding: 0 3px;
		font-size: 80%;
		font-weight: bold;
		color: transparent;
		background: #f76b6a;
		white-space: nowrap;
		overflow: hidden;
		-webkit-border-radius: 36px;
		-moz-border-radius: 36px;
		border-radius: 36px;
	}
	.nasa-product-grid .add-to-cart-grid {
		position: absolute;
		z-index: 6;
		top: auto;
		bottom: -16px;
		right: 10px;
		left: auto;
		height: 36px;
		width: 36px;
		display: inline-block;
		border: none;
		margin: 0;
		padding: 3px;
		text-align: right;
		background: #f76b6a;
		font-size: 100%;
		letter-spacing: initial;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-o-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}
	.nasa-product-grid .add-to-cart-grid:hover .add_to_cart_text {
		visibility: visible;
		width: 156px;
		padding-right: 36px;
		color: #fff;
	}
	.nasa-product-grid .add-to-cart-grid:hover .cart-icon {
		pointer-events: none;
	}
	.nasa-product-grid .add-to-cart-grid:hover .cart-icon:before {
		pointer-events: none;
	}
	.nasa-product-grid .cart-icon {
		position: absolute;
		right: 3px;
		left: auto;
		font-size: 120%;
		border: none;
		height: 30px;
		width: 30px;
		text-align: center;
		float: right;
		line-height: 31px;
		background: #fff;
		color: #333333;
		pointer-events: none;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	.nasa-product-grid .cart-icon:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		line-height: 30px;
		display: inline-block;
	}
	.nasa-product-grid .cart-icon.icon-nasa-cart-3 {
		font-size: 150%;
	}
	.price {
		font-size: 110%;
		line-height: 1.2;
		min-height: 15px;
		color: #333;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		-webkit-align-items: baseline;
		align-items: baseline;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.price del {
		color: #aaa;
		font-weight: normal;
		font-size: 90%;
		margin-right: 8px;
	}
	.price del .amount {
		font-weight: normal;
	}
	.price ins {
		text-decoration: none;
	}
	.product-item {
		position: relative;
		display: block;
		margin: 10px 0 20px 0;
	}
	.main-img img,
	.back-img img {
		position: relative;
		z-index: 1;
	}
	.product-img {
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.product-img img.attachment-shop_catalog {
		display: block;
	}
	.main-img {
		display: block;
		width: auto;
		height: auto;
	}
	.main-img img {
		min-width: 100%;
		display: block;
	}
	.back-img {
		width: 100%;
	}
	.back-img img {
		display: block;
		min-width: 100%;
		position: absolute;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
	}
	.nasa-sc-title {
		font-weight: 800;
		font-size: 50px;
		padding-top: 50px;
	}
	.product-deal-special-progress {
		display: block;
	}
	.product-deal-special-progress .deal-stock-label {
		display: block;
		overflow: hidden;
		margin-bottom: 5px;
	}
	.product-deal-special-progress .deal-stock-label .stock-available {
		float: right;
	}
	.product-deal-special-progress .deal-stock-label .stock-sold {
		float: left;
	}
	.product-deal-special-progress .deal-progress {
		width: 100%;
		height: 12px;
		background: #efefef;
		overflow: hidden;
		margin-bottom: 25px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.product-deal-special-progress .deal-progress .deal-progress-bar {
		display: block;
		height: 100%;
		color: transparent;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	button::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	.slick-slider {
		position: relative;
		display: none;
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}
	.slick-slider.slick-initialized {
		display: block;
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		left: 0;
		top: 0;
		display: block;
	}
	.slick-track:before,
	.slick-track:after {
		content: "";
		display: table;
	}
	.slick-track:after {
		clear: both;
	}
	.slick-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		outline: none;
		display: none;
	}
	.slick-slide img {
		display: block;
		margin: auto;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	button.slick-arrow {
		display: none !important;
	}
	.primary-color {
		color: #f76b6a;
	}
	.primary-bg {
		background-color: #f76b6a;
	}
	.star-rating {
		display: block;
		text-align: left;
		font-size: 14px;
		overflow: hidden;
		position: relative;
		height: 1.1em;
		line-height: 1.2em;
		width: 5.7em;
		font-family: "FontAwesome";
		margin: 0;
	}
	.star-rating:before {
		content: "\f006   \f006   \f006   \f006   \f006";
		color: #ddd;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	.star-rating span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		font-weight: normal;
		width: 100%;
	}
	.star-rating span:before {
		content: "\f005   \f005   \f005   \f005   \f005";
		white-space: nowrap;
		color: #ff9c00;
		top: 0;
		position: absolute;
		left: 0;
	}
	.nasa-invisible-loading {
		opacity: 0;
		visibility: hidden;
	}
	.margin-bottom-25 {
		margin-bottom: 25px !important;
	}
	.columns.nasa-col:hover {
		z-index: 20;
	}
	.nasa-tip {
		position: relative;
	}
	@media only screen and (max-width: 767px) {
		.nasa-product-grid .cart-icon.icon-nasa-cart-3 {
			font-size: 120%;
		}
	}
	body [class*="column"] + [class*="column"]:last-child {
		float: left;
	}
	button,
	.button,
	a.button,
	.product-deal-special-buttons
		.nasa-product-grid
		.add-to-cart-grid
		.add_to_cart_text {
		background-color: #f76b6a;
		border-color: #f76b6a;
		color: #fff;
	}
	button:hover,
	.button:hover,
	a.button:hover,
	.product-deal-special-buttons
		.nasa-product-grid
		.add-to-cart-grid:hover
		.add_to_cart_text {
		background-color: #f54543;
		border-color: #f54543;
		color: #fff;
	}
	.fadeInUp {
		-webkit-animation-name: fadeInUp_2 !important;
		animation-name: fadeInUp_2 !important;
	}
}
@media all {
	body .button,
	body button {
		text-transform: uppercase;
	}
	@media only screen and (max-width: 767px) {
		body .product-img .back-img {
			display: none;
		}
	}
}
@media all {
	@media only screen and (min-width: 768px) {
		.large-5 {
			width: 41.666666%;
		}
		.large-7 {
			width: 58.333333%;
		}
		.large-12 {
			width: 100%;
		}
		body .desktop-padding-right-10 {
			padding-right: 10px !important;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		.medium-5 {
			width: 41.666666%;
		}
		.medium-7 {
			width: 58.333333%;
		}
	}
	@media only screen and (max-width: 767px) {
		.hide-for-small {
			display: none;
		}
		.product-item .main-img img {
			width: 100%;
		}
		.cart-icon {
			margin: 0;
		}
		.product-item {
			margin: 0 0 10px 0;
			min-height: auto !important;
			cursor: pointer;
			overflow: hidden;
		}
		.product-item .nasa-product-grid {
			padding-top: 5px;
		}
		.product-item .nasa-product-grid .add-to-cart-grid {
			visibility: visible;
			opacity: 1;
			right: 10px;
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		body .product-item .nasa-product-grid .add-to-cart-grid .add_to_cart_text {
			display: none;
		}
		.mobile-margin-top-30 {
			margin-top: 30px !important;
		}
	}
}
@media all {
	h3,
	strong,
	.product-deal-special-title,
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-list-category
		a,
	button,
	.button,
	.countdown-period,
	.nasa-special-deal-style-multi-wrap .nasa-product-grid .add_to_cart_text,
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-price,
	.nasa-product-grid .add_to_cart_text,
	.countdown-amount {
		font-weight: 500 !important;
	}
}
@media all {
	.nasa-products-special-deal {
		padding: 0;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-flex-wrap {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-main-wrap {
		width: 100%;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.main-border-wrap {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		height: 100%;
		padding-top: 2px;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-main-special {
		position: relative;
		padding: 0 20px 25px 20px;
		margin-bottom: 20px;
		border: 1px solid #f76b6a;
		display: block;
		width: 100%;
		overflow: hidden;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-main-top {
		padding: 0 10px;
		text-align: center;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-special-deal-item {
		padding: 0 10px;
		outline: none;
	}
	/* .nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-sc-title {
		display: block;
		font-size: 180%;
		margin-top: 18px;
	} */
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-nav-slick-wrap {
		position: absolute;
		top: 2px;
		right: 25px;
		font-size: 150%;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-wrap-info {
		padding-left: 10px;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-list-category {
		font-size: 100%;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: #aaa;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-list-category
		a {
		color: inherit;
		font-weight: 600;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.nasa-list-category
		a:hover {
		color: #333;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-title {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 160%;
		line-height: 1.2;
		font-weight: 800;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2 .star-rating {
		margin-bottom: 12px;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-price {
		font-weight: 800;
		margin-bottom: 25px;
		color: #ff3300;
		font-size: 150%;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-price
		del {
		margin-right: 10px;
		font-weight: 700;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-countdown {
		margin-bottom: 15px;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.countdown-amount {
		width: 46px;
		padding: 13px 0;
		background: #f1f1f1;
		color: #000;
		font-size: 130%;
		font-weight: 700;
		border: none;
	}
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
		.product-deal-special-progress
		.deal-progress {
		margin-bottom: 25px;
	}
	.nasa-products-special-deal .product-item {
		margin: 0 1px;
	}
	.nasa-products-special-deal .product-item .product-img {
		padding: 0;
	}
	.nasa-products-special-deal .product-deal-special-title {
		font-size: 130%;
		font-weight: 400;
		line-height: 130%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.nasa-products-special-deal .product-deal-special-price {
		display: block;
		width: 100%;
		font-size: 135%;
		margin-bottom: 30px;
	}
	.nasa-products-special-deal .product-deal-special-buttons .add-to-cart-grid {
		padding: 8px 30px;
	}
	.nasa-products-special-deal
		.product-deal-special-buttons
		.add-to-cart-grid
		.cart-icon {
		margin-right: 8px;
		display: none;
	}
	.nasa-products-special-deal
		.product-deal-special-buttons
		.add-to-cart-grid
		.add_to_cart_text {
		position: relative;
		line-height: 1;
	}
	.nasa-special-deal-style-multi-wrap {
		padding: 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.nasa-special-deal-style-multi-wrap .slick-arrow {
		display: none !important;
	}
	.nasa-special-deal-style-multi-wrap .nasa-product-grid .add-to-cart-grid {
		opacity: 1;
		visibility: visible;
		position: relative;
		right: auto;
		bottom: auto;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	.nasa-special-deal-style-multi-wrap
		.nasa-product-grid
		.add-to-cart-grid
		.add_to_cart_text,
	.nasa-special-deal-style-multi-wrap
		.nasa-product-grid
		.add-to-cart-grid:hover
		.add_to_cart_text {
		width: auto;
		padding: 1em 4em;
	}
	.nasa-special-deal-style-multi-wrap .nasa-product-grid .add_to_cart_text {
		visibility: visible;
		width: 100%;
		max-width: 100%;
		padding: 1em 4em;
		line-height: 1.2;
		font-size: 12px;
		letter-spacing: 2px;
		font-weight: bold;
		margin: 0;
		left: 0;
		right: 0;
		color: #fff;
		-webkit-border-radius: unset;
		-moz-border-radius: unset;
		border-radius: unset;
	}
	.nasa-special-deal-style-multi-wrap
		.product-deal-special-buttons
		.nasa-product-grid {
		position: unset;
		width: unset;
		height: unset;
	}
	.nasa-special-deal-style-multi-wrap
		.product-deal-special-buttons
		.nasa-product-grid
		.add-to-cart-grid {
		width: unset;
		height: unset;
		padding: 0;
	}
	@media only screen and (max-width: 767px) {
		.nasa-products-special-deal {
			margin-bottom: 20px;
			border: none;
			min-height: auto !important;
		}
		.nasa-products-special-deal .product-item {
			padding-top: 0px;
		}
		.nasa-special-deal-style-multi-wrap .product-deal-special-buttons {
			height: 60px;
		}
		.nasa-products-special-deal.nasa-products-special-deal-multi-2
			.nasa-main-wrap {
			width: 100%;
		}
		body
			.nasa-products-special-deal.nasa-products-special-deal-multi-2
			.product-deal-special-wrap-info {
			padding-left: 0;
		}
		body
			.product-item
			.product-special-deals
			.nasa-product-grid
			.add-to-cart-grid
			.add_to_cart_text {
			/* display: block; */
			/* display: flex;
			align-items: center; */
		}
	}
	@media (max-width: 379px) {
		body
			.nasa-products-special-deal.nasa-products-special-deal-multi-2
			.countdown-row {
			margin: 0 -5px;
		}
		body
			.nasa-products-special-deal.nasa-products-special-deal-multi-2
			.countdown-section {
			margin: 0 5px;
		}
		body
			.nasa-products-special-deal.nasa-products-special-deal-multi-2
			.countdown-amount {
			width: 40px !important;
			padding: 12px 0;
			font-size: 100% !important;
		}
	}
}
@media all {
	h3 {
		font-family: "Jost", Arial, Helvetica, sans-serif;
	}
	.price,
	.amount {
		font-family: "Jost", Arial, Helvetica, sans-serif;
	}
	body
		.product-item
		.product-deal-special-buttons
		.nasa-product-grid
		.add-to-cart-grid,
	body button {
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-o-border-radius: 1px;
		-moz-border-radius: 1px;
	}
}
body .primary-color,
body a:hover,
body a:focus,
body .nasa-products-special-deal .product-deal-special-title:hover {
	color: #6bad0d;
}
body button:hover,
body .button:hover,
body .primary-bg,
body .nasa-product-grid .add-to-cart-grid,
body .nasa-product-grid .add_to_cart_text {
	background-color: #6bad0d;
}
body
	.product-item
	.nasa-product-grid
	.add-to-cart-grid:hover
	.add_to_cart_text {
	color: #fff;
}
body
	.nasa-products-special-deal.nasa-products-special-deal-multi-2
	.nasa-main-special {
	border-color: #6bad0d;
	padding-bottom: 100px;
}
body button,
body .button,
body a.button,
body
	.product-deal-special-buttons
	.nasa-product-grid
	.add-to-cart-grid
	.add_to_cart_text {
	background-color: #6bad0d;
	border-color: #6bad0d;
	color: #fff;
}
body button:hover,
body .button:hover,
body a.button:hover,
body * button:hover,
body * .button:hover,
body
	.product-deal-special-buttons
	.nasa-product-grid
	.add-to-cart-grid:hover
	.add_to_cart_text {
	background-color: #629f0c;
	border-color: #629f0c;
	color: #fff;
}
/*! CSS Used from: http://localhost/Project%20management/Topcatogerios.css */
@media all {
	a {
		background: transparent;
	}
	a:focus {
		outline: thin dotted;
	}
	a:active,
	a:hover {
		outline: 0;
	}
	a:active {
		color: #333;
	}
	img {
		border: 0;
	}
	img {
		color: transparent;
	}
	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	a:hover {
		cursor: pointer;
	}
	a:focus {
		outline: none;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	img {
		-ms-interpolation-mode: bicubic;
	}
	img {
		display: inline-block;
		vertical-align: middle;
	}
	.row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		max-width: 1200px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		content: " ";
		display: table;
	}
	.row:after {
		clear: both;
	}
	.columns {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		float: left;
	}
	div,
	h3 {
		margin: 0;
		padding: 0;
		direction: ltr;
	}
	a {
		color: #333;
		text-decoration: none;
		line-height: inherit;
	}
	a:hover,
	a:focus {
		color: #f76b6a;
	}
	a img {
		border: none;
	}
	h3 {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-weight: 700;
		font-style: normal;
		color: inherit;
		text-rendering: optimizeLegibility;
		margin-top: 0.2em;
		margin-bottom: 0.5em;
		line-height: 1.1931em;
	}
	h3 {
		font-size: 1.31034em;
	}
	@media only screen and (min-width: 768px) {
		h3 {
			line-height: 1.4;
		}
		h3 {
			font-size: 1.65517em;
		}
	}

	.columns.nasa-col:hover {
		z-index: 20;
	}
	.fadeInUp {
		-webkit-animation-name: fadeInUp_2 !important;
		animation-name: fadeInUp_2 !important;
	}
	@media only screen and (min-width: 768px) {
		.large-12 {
			width: 100%;
		}
	}
	@media only screen and (max-width: 767px) {
		.mobile-margin-top-30 {
			margin-top: 30px !important;
		}
	}
	h3 {
		font-weight: 500 !important;
	}
	h3 {
		font-family: "Jost", Arial, Helvetica, sans-serif;
	}
}
body a:hover,
body a:focus {
	color: #6bad0d;
}

*,
::after,
::before {
	box-sizing: border-box;
}
a {
	color: #0d6efd;
	text-decoration: underline;
}
a:hover {
	color: #0a58ca;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	/* margin-right: calc(var(--bs-gutter-x) * -0.5); */
	margin-left: calc(var(--bs-gutter-x) * 1.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}
a,
*:focus {
	outline: none !important;
}
a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #80bb01;
}
.row {
	--bs-gutter-x: 30px;
}
*,
::after,
::before {
	box-sizing: border-box;
}
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3 {
		font-size: 1.75rem;
	}
}
a {
	color: #0d6efd;
	text-decoration: underline;
}
a:hover {
	color: #0a58ca;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
	color: #222222;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	margin-top: 0;
}
h3 {
	font-size: 24px;
	line-height: 30px;
}
a {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

*:focus {
	outline: none !important;
}
a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #80bb01;
}
.row {
	--bs-gutter-x: 30px;
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp_2 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp_2 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-webkit-keyframes fadeInUp_2 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp_2 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
